/*.custom-container {
  width: 95%;
  max-width: 720px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}*/

.custom-container {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;
}

/* Boxed mode for larger screens */
@media (min-width: 780px) {
  .custom-container {
    max-width: 720px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #000;
  }
}

.arm-blue {
  background-color: #0091BD;
}

.p-extra-small {
  padding: 1px;
}

.extra-rounded {
  border-radius: 10px;
}

.top-buffer-lg {
  margin-top: 20px;
}

.top-buffer {
  margin-top: 10px;
}

.top-buffer-none {
  margin-top: 0px !important;
}

.bottom-buffer-none {
  margin-bottom: 0px !important;
}

.top-padding-sm {
  padding-top: 6px !important;
}

.contact-icon {
  padding: 10px;
  color: #3F4045;
}

.contact-icon:hover {
  padding: 10px;
  color: #696C77;
}

.product-social-icon {
  color: #FFFFFF;
  margin-right: 5px;
}

.btn-primary-text {
  color: #FFFFFF;
}

.btn-primary-text:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.right-padding-btn {
  padding-right: 12px;
}

.header-subtitle {
  margin: 0px;
}

.btn-group-xs>.btn,
.btn-xs {
  padding: .21rem .4rem .19rem;
  font-size: .775rem;
  line-height: .5;
  border-radius: .2rem;
}

.app-icon-rounded {
  border-radius: 20%;
}

.text-justify {
  text-align: justify;
}

.header-name {
  margin: 0px;
  font-size: calc(0.5rem + 3.5vw);
}

@media (min-width: 420px) {
  .header-name {
    font-size: calc(0.4rem + 4.5vw);
  }
}

@media (min-width: 720px) {
  .header-name {
    font-size: 3rem;
  }
}

.header-precursor {
  margin: 0px;
}


hr.solid {
  border-top: 1px solid #bbb;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.code-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* Enables smooth scrolling on iOS */
}

.code-container pre {
  /*white-space: pre-wrap;*/
  /* Allow line breaks if necessary */
}