.custom-container {
  width: 95%;
  max-width: 720px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.extra-rounded {
  border-radius: 10px;
}

.top-buffer-lg {
  margin-top: 20px;
}

.top-buffer {
  margin-top: 10px;
}

.top-buffer-none {
  margin-top: 0px !important;
}

.top-padding-sm {
  padding-top: 6px !important;
}

.contact-icon {
  padding: 10px;
  color: #3F4045;
}

.contact-icon:hover {
  padding: 10px;
  color: #696C77;
}

.product-social-icon {
  color: #FFFFFF;
  margin-right: 5px;
}

.btn-primary-text {
  color: #FFFFFF;
}

.btn-primary-text:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.header-subtitle {
  margin: 0px;
}

.app-icon-rounded {
  border-radius: 20%;
}

.text-justify {
  text-align: justify;
}

.header-name {
  margin: 0px;
  font-size: calc(0.5rem + 3.5vw);
}

@media (min-width: 420px) {
  .header-name {
    font-size: calc(0.4rem + 4.5vw);
  }
}

@media (min-width: 720px) {
  .header-name {
    font-size: 3rem;
  }
}

.header-precursor {
  margin: 0px;
}

.product-showcase {
  margin: 12px;
  flex-shrink: initial;
}

hr.solid {
  border-top: 1px solid #bbb;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}