<div class="col h-pad">
  <hr class="solid">
</div>
<div class="col">
  <div class="d-flex justify-content-center">
    <a href="https://github.com/nikolajjensen" target="_blank" class=""><i
        class="contact-icon fab fa-github fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/nikolaj-banke-jensen-b77b721bb" target="_blank" class=""><i
        class="contact-icon fab fa-linkedin fa-2x"></i></a>
    <a href="mailto:hello@nikolajjensen.com" class=""><i class="contact-icon fas fa-envelope fa-2x"></i></a>
  </div>
</div>

<div class="col">
  <div class="d-flex justify-content-center">
    <p class="text-secondary"><small><a href="https://www.nikolajjensen.com">nikolajjensen.com</a> &copy;
        Nikolaj
        Banke Jensen <span id="year"></span></small></p>
  </div>
</div>