<div class="col h-pad d-flex justify-content-center">
  <div class="col d-flex align-items-center">
    <div>
      <h3 id="page-title" class="pb-0 mb-0">Cozy Mk IV</h3>
      <h1 class="header-name pt-0"><strong id="subtitle-current">...</strong></h1>
      <nav
        style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 mt-1">
          <li class="breadcrumb-item"><a href="/cozy/overview.html">Overview</a></li>
          <!-- Section breadcrumb will be inserted here -->
          <li id="breadcrumb-current" class="breadcrumb-item active" aria-current="page">...</li>
        </ol>
      </nav>
    </div>
  </div>
</div>